@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700|Roboto&display=swap');

.notificationBarContainer {
  background-color: #E6F1E6;
  color: #03034E;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.searchBarContainer {
  max-width: 265px;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #E6F1E6;
  padding: 0px;
}

.newsletter {
  color: #727273;
  max-width: 1528px;
  padding-top: 1rem;
}

/* #newsletter-input {
  background-color: #ffffff;
} */

.newsletter .container {
  padding: 0 0 20px 0;
}

.label {
  color: #727273;
  font-size: 18px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

/* .inputGroup input {
  background-color: #ffffff;
  color: #727273;
  border: 2px solid #E3E4E6;
  box-sizing: border-box;
  border-radius: 4px;
} */

/* .inputGroup input::placeholder {
  color: #fff;
  font-size: 16px;
} */

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.infoCardTextContainer--depbanner {
  min-height: 400px;
}

@media only screen and (min-width: 640px) {
  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.imageElement {

}
/*
.shippingContainer {
  background: red;
}


.shippingContainer .items-start {
  width: 50%;
} */


.container {
  padding: 0;
}

.imageElement--dep-image-mobile {
  height: 15vh;
  object-fit: cover;
  width: 100%;
}

.price_sellingPriceContainer {
  margin: 30px 0;
}

.skuSelectorName {
  text-transform: uppercase;
  font-weight: 700;
}

.frameAround {
  display: none;
}

.skuSelectorItem--selected {
  border: 2px solid #000;
  background: #f3f3f3;
}

.skuSelectorOptionsList {
  justify-content: center;
}

.shareContainer {
  text-align: center;
}

.productImagesContainer {
  border-right: 1px solid #dedede;
  padding: 30px 0;
}

.productNameContainer {
  padding-top: 50px;
}

.caretIcon {
  fill: #000;
}

@media(max-width: 767px) {
  .productImagesContainer {
    padding: 0;
  }

  .productNameContainer {
    padding-top: 0px;
    font-size: 18px !important;
  }

  .price_sellingPriceContainer {
    margin: 10px 0;
  }

  .price_sellingPrice {
    font-size: 18px !important;
  }

  .skuSelectorSubcontainer {
    margin-bottom: 0
  }
  
}