.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}

.socialNetworksContainer {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 2.5rem;
}

@media screen and (max-width: 768px){
  .socialNetworksContainer {
    justify-content: center;
  }

  .acceptedPaymentMethodContainer{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flexCol--payment-methods{
    border: none;
  }
}

.acceptedPaymentMethodContainer{
  display: flex;
  align-items: center;
}