.flexRow--main-row-header {
  width: 100% !important;
}
.flexRowContent--main-row-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexRow--deals {
  background-color: #a7afbd;
  padding: 14px 0px;
}

.flexRow--newsletter {
  background-color: #e8ccc9;
  padding-bottom: 2rem;
}

.flexRow--pinkRow {
  background-color: #e8ccc9;
  padding-bottom: 3rem;
  margin-top: 15px;
  margin-bottom: 35px;
}

/* .flexColChild--newsletter :global(p) {
  margin-bottom: 0;
} */

/* .flexColChild--newsletter :global(.buttonContainer) {
  padding: 0;
  background: red;
} */

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexCol--switcherMobileCol {
  width: 20%;
}

@media only screen and (min-width: 640px) {
  .flexColChild--pinkCol {
    width: 50%;
  }
}


/* Footer */
.flexRow--footer-row {
  padding-top: 10px;
  padding-bottom: 10px;
  background: lightgrey;
}

.flexRow--footer-row {
  text-align: right;
}

/* .flexRow--footer-row :global(a) {
  color: #E3E4E6;
  font-size: 14px;
} */

/* @media only screen and (max-width: 640px) {
  .flexRow--footer-row :global(li) {
    display: block;
  }
} */

/* .flexRow--footer-row :global(img) {
  filter: brightness(2);
} */


/* Product */
.flexRow--product-main {
  color: #000;
}

.flexRowContent--fetch-previous {
  display: none;
}

.flexRow--search-info {
  border-left: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}

.flexRowContent--search-title {
  position: absolute;
  height: 400px;
  display: block;
  padding: 25px;
}

.flexRow--product-main {
  border-top: 1px solid #dedede;
}

.flexRow--payment-methods{
  margin-top: 34px;
  border-top: solid 0.5px;
  border-bottom: solid 0.5px;
  border-color: #AAAAAA;
  padding: 30px 0px 30px 0px;
}

.flexRow--credits{
  padding: 15px 0px 15px 0px;
}

.flexRow--menu-row{
  margin-top: 34px;
  border-top: solid 0.5px;
  border-color: #AAAAAA;
} 

.socialNetworksContainer {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 2.5rem;
}

@media screen and (max-width: 768px){
  .socialNetworksContainer {
    justify-content: center;
  }

  .acceptedPaymentMethodContainer{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flexCol--payment-methods{
    border: none;
  }
}

.acceptedPaymentMethodContainer{
  display: flex;
  align-items: center;
} 

.logoLink{
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageElement--websiteSecure{
  margin-left: 480px;
} 

.flexRow--credits {
  padding: 0 5px;
}